# Ignorar a pasta do ambiente virtual
venv/

# Ignorar arquivos de configuração do VS Code
.vscode/

# Ignorar cache do Python
__pycache__/
*.py[cod]

# Ignorar logs, arquivos temporários e de sistema
*.log
*.tmp
.DS_Store

# Ignorar arquivos de dependências que podem ser gerados automaticamente
*.env
.env
